/balena-etcher
/cef_user_data
/composer
/configstore
/create-next-app-nodejs
/dconf
/enchant
/evolution
/gedit
/gh
/gnome-control-center
/gnome-session
/goa-1.0
/google-chrome
/gtk-3.0
/gtk-4.0
/ibus
/Insomnia
/JetBrains
/kdeconnect
/libreoffice
/menus
/nautilus
/obsidian
/opera
/Pd
/pulse
/systemd
/unity3d
/unityhub
/update-notifier
/VirtualBox
/nvim.bak
/lazygit
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
QtProject.conf
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
.gsd-keyboard.settings-ported
